<footer class="text-center">
    <p class="footer-develop">
        <img alt="Keybase PGP" src="https://img-shields-io.186526.xyz/keybase/pgp/186526">
        <img alt="Update Commit" src="https://img-shields-io.186526.xyz/badge/commit-<%= globalThis.commitID %> -blue">
        <a href="https://git.186526.xyz/186526/blog.186526.xyz"><img alt="Latest Update" src="https://img-shields-io.186526.xyz/date/<%= globalThis.commitTime %>?color=sucessful&label=latest%20update"></a>
        <a href="https://drone.186526.xyz/186526/blog.186526.xyz"><img src="https://drone.186526.xyz/api/badges/186526/blog.186526.xyz/status.svg" /></a>
        <img alt="Build environment" src="https://img-shields-io.186526.xyz/badge/build environment-<%= getver() %>-blue">
    </p>
    <p class="footer-develop">
        <img alt="Chromium HSTS preload" src="https://img-shields-io.186526.xyz/hsts/preload/186526.xyz">
        <img alt="Uptime Robot ratio (30 days)" src="https://img-shields-io.186526.xyz/uptimerobot/ratio/m786767673-4547971a4f2fb0da2156d1d4">
        <img alt="Security Headers" src="https://img-shields-io.186526.xyz/security-headers?url=https%3A%2F%2Fblog.186526.xyz">
    </p>
        <!-- footer copyright -->
        <%- fragment_cache('footer_copyright_text', () => {
            return `
            <p class="footer-copyright mb-0">Copyright&nbsp;©&nbsp;<span id="copyright-year"></span>
                <a class="footer-copyright-a" href="${config.url}">${config.title}</a>
            </p>`
        }) %>
    
        <!-- footer custom text -->
        <p class="footer-text mb-0">
        <%- fragment_cache('footer_custom_text', () => {
            if (theme.footer.custom_text) {
                if (Array.isArray(theme.footer.custom_text)) {
                    return theme.footer.custom_text.join('<br>');
                } else {
                    return theme.footer.custom_text;
                }
            }
        }) %>
        </p>
        <!-- footer develop info -->    
    <p class="footer-develop mb-0">
        <%- fragment_cache('footer_counter_text', () => {
            if (theme.busuanzi.enable) return partial('_plugin/busuanzi/footer_counter');
            return '';
        }) %>

        <% if ( (theme.valine_counter.enable) && (theme.valine_counter.site_pv.enable) ) { %>
            <%- partial('_plugin/valine-counter/footer') %>
        <% } %>
        Powered by&nbsp;<!--
         --><a href="https://hexo.io" target="_blank" class="footer-develop-a" rel="external nofollow noopener noreferrer">Hexo</a><span class="footer-develop-divider"></span>Theme&nbsp;-&nbsp;<!--
         --><a href="https://github.com/SukkaW/hexo-theme-suka" target="_blank" class="footer-develop-a" rel="external noopener">Suka</a>
    </p>
    <br>
</footer>


<script src="https://cdn.jsdelivr.net/npm/pjax@0.2.8/pjax.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js" defer></script>
<script src="/js/blog-186.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/gijo-varghese/flying-pages@2.1.2/flying-pages.min.js" defer></script>