<!-- ## Header ##-->
<header>
    <h1 class="header-title text-center">    <img src="https://186526.xyz/pic/avatar-round.webp" alt="Avatar" style="border-radius:100%;width:150px;"><br><a href="<%= config.root %>"><%= config.title %></a></h1>

    <p class="text-center header-slogan">
        <% if (theme.uiux.slogan) { %>
            <% if (Array.isArray(theme.uiux.slogan)) { %>
                <%- theme.uiux.slogan.join('<br>') %>
            <% } else { %>
                <%- theme.uiux.slogan %>
            <% } %>
        <% } %>
    </p>

    <%- partial('_partial/index-nav') %>
</header>
