<!-- ## Header ##-->
<header>
    <h1 class="header-title text-center">
        <img src="https://i.186526.xyz/avatar.png" alt="Avatar" srcset="https://i.186526.xyz/avatar.webp"><br class="display-on-mobile">
        <span class="header-span">
        <a href="<%= config.root %>"><%= config.title %></a>
        <p class="text-center header-slogan">
            <% if (theme.uiux.slogan) { %>
                <% if (Array.isArray(theme.uiux.slogan)) { %>
                    <%- theme.uiux.slogan.join('<br>') %>
                <% } else { %>
                    <%- theme.uiux.slogan %>
                <% } %>
            <% } %>
        </p>    
        </span>
    </h1>


    <%- partial('_partial/index-nav') %>
</header>
